.slider__list{
	height: 100%;
	display: flex;
	transition: 0.8s;
}
.slider__item{
	width: 100%;
	flex-shrink: 0;

}
.slider__desc{
	height: 100%;
	overflow: hidden;
}
.slider{
	overflow: hidden;
	width: 60%;
    margin: auto;
    border: 13px solid #17580e;
    border-radius: 20%;
}
.section__container{
	position: relative;
}
.slider__title{
    font-size: 56px;
    color: #e00f12;
    text-align: center;
    padding: 15px 15px;
}
.slider__desc{
	position: relative;
}
.slider__desc_usha{
	background: url(../image/usha.jpg) no-repeat;
	background-size: cover;
}
.slider__desc_nik{
	background: url(../image/nik.jpg) no-repeat;
	background-size: cover;
}
.slider__desc_seny{
	background: url(../image/ar.jpg) no-repeat;
	background-size: cover;
}
.slider__desc_usha2{
	background: url(../image/usha2.jpg) no-repeat;
	background-size: cover;
}
.slider__desc_ddt{
	background: url(../image/ddt.jpg) no-repeat;
	background-size: cover;
}.slider__desc_usha3{
	background: url(../image/usha3.jpg) no-repeat;
	background-size: cover;
}
p{
	font-style: italic;
    font-size: 25px;
    color: #e00f12;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.font{
	font-size: 15px;
}
.slider__pic{
	position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: rgba(173,157,157, 0.6);
    width: 100%;
}